@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}

*{
    box-sizing: border-box;
}
nav{
    background-color: rgb(248, 220, 220);
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 200px;
}
.logo-container img{
    width: 50px;
    height: 30px;
}
.logo-container h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.nav-title{
    color: #FF42A5;
}
.amare{
    color: #0B0223;
}
.nav-item-container{
    display: flex;
    gap: 50px;
    margin-left: 500px;
}
.nav-item-container a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}


@media screen and (max-width:576px){
    .logo-container, 
    .logo-container,
    .nav-item-container,
    .nav-container
    {
        flex-direction: column;
        
    }
    .nav-item-container{
        margin: 0;
    }
    .logo-container{
        margin-left: 30px;
        margin-top: 10px;
    }
}
@media screen and (min-width:576px) and (max-width:960px){
    .nav-container{
        flex-direction: column;
    }
    .logo-container{
        gap: 0;
        margin-left: 0;
    }
    .nav-item-container{
        flex-direction: column;
        margin: 0px;
    }
}

