@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}

*{
    box-sizing: border-box;
}
nav{
    background-color: rgb(248, 220, 220);
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 200px;
}
.logo-container img{
    width: 50px;
    height: 30px;
}
.logo-container h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.nav-title{
    color: #FF42A5;
}
.amare{
    color: #0B0223;
}
.nav-item-container{
    display: flex;
    gap: 50px;
    margin-left: 500px;
}
.nav-item-container a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}



/* Goat section  */
.play{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.goat-section{
    display: flex;
    justify-content: space-between;
}
.goats-content p{
    color: #534C64;
    font-size: 15px;
    font-weight: 500;

}
.goats-content{
    margin-top: 70px;
    margin-left: 200px;
    flex-wrap: wrap;
}
.btn-primary{
    background-color: #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-flex;
    border-radius: 48px;
    border: 0;
}
.btn-primary2{
    background-color: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-flex;
    border-radius: 48px;
    border: 0;
}
.goat-section img{
    width: 40%;
    margin-right: 50px;
}
/* we are gamer section  */

.we-are-gamer{
    background-color: #f7f3f5;
    display: flex;
    text-align: right;
    width: 100%;
    height: 450px;
}
.know-more-section{
    margin-right: 100px;
    margin-top: 50px;
}
.our-imag{
    width: 600px;
    height: 489px;
    margin-left: 200px;
}
 /* gamer section end  */

 /* online game section  */

 .section-content{
    text-align: center;
    margin-top: 50px;
 }
 .game-title{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
 }
 .game-descrition{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
 }
 .Funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 48px;
   font-weight: 700;
 }
 .game-image{
    display: flex;
    margin-top: 30px;
    border: 4px;
    gap: 10px;
    margin-left: 45px;

 }
 .image1{
    width: 342px;
    height: 400px;
    border-radius: 16px;
 }
 .image-title1{
    width: 342px;
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
}


 /* responsive for mobile device  */
    @media screen and (max-width:576px){
    .logo-container, 
    .logo-container,
    .nav-item-container,
    .nav-container,
    .goat-section,
    .we-are-gamer,
    .game-image
    {
        flex-direction: column;
        
    }
    .nav-item-container{
        margin: 0;
    }
    .logo-container{
        margin-left: 30px;
        margin-top: 10px;
    }
    .goats-content{
        margin-top: 0;
        margin-left: 100px;
        font-size: 20px;
    }
    .section-imag{
        margin-left: 100px;
    }
    .our-imag{
        margin-left: 80px;
        width: 330px;
        height: 200px;
    }
    .btn-primary{
        padding: 0;
    }
    .btn-primary2{
        padding: 0;
    }
    .section-content{
        margin-top: 100px;
    }
}


/* responsive for medium or tablet  */
@media screen and (min-width:576px) and (max-width:960px){
    .nav-container{
        flex-direction: column;
    }
    .logo-container{
        gap: 0;
        margin-left: 0;
    }
    .nav-item-container{
        flex-direction: column;
        margin: 0px;
    }
    .know-more-section{
        
    }
    .btn-primary{
        padding: 5px;
    }
    .btn-primary2{
        padding: 5px;
    }
    .we-are-gamer{
        flex-direction: column;
    }
    .section-content{
        margin-top: 200px;
    }
    .game-image{
        flex-wrap: wrap;
    }
    .our-imag{
        margin-left: 100px;
    }
}

